div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: what ;
    animation-duration: 4s;
}

@keyframes what {
    from {background-color: red;}
    to {background-color: yellow;}
    
}